html {
  font-size: 62.5%;
}
body {
  font-family: inter, arial, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  margin-top: 10px;
}
*,
*::before,
::after {
  box-sizing: border-box;
}

/* colors */
:root {
  --primary-color: #1036f3;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --headings-color: #1b0760;
  --body-color: #918ca4;
  --border-color:#ccc;
}
h1,
h2,
h3 {
  color: var(--headings-color);
  margin-bottom: 1.5rem;
}

p {
  margin-top: 0;
  line-height: 3rem;
  color: var(--body-color);

  /* typography */
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

@media screen and (min-width: 800px) {
  /* body {
    font-size: 1.8rem;
  } */
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* links */
.link-arrow {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 800px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* badges */
.badges {
  border: 0;
  border-radius: 20px;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
.badges--primary {
  background: var(--primary-color);
  color: white;
}
.badges--secondary {
  background: var(--secondary-color);
}
.badges--small {
  font-size: 1.2rem;
}
@media screen and (min-width: 800px) {
  .badges {
    font-size: 1.5rem;
  }
  .badges--small {
    font-size: 1.2rem;
  }
}
/* lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--headings-color);
}
.list--inline .list__items {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__items {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  .list--tick .list__items {
    padding-left: 0rem;
  }
}
/* buttons */
.btn {
  border: 0;
  border-radius: 40px;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;

  padding: 2rem 3rem;
  font-weight: 600;
  /* display: block; */
  white-space: nowrap;
}
.btn--primary:hover {
  background: #9eaefd;
}
.btn--primary {
  background: var(--primary-color);
  color: white;
}
.btn--secondary {
  background: var(--secondary-color);
  color: white;
}
.btn--secondary:hover {
  background: #63e2f9;
}
.btn--accent {
  background: var(--accent-color);
  color: white;
}
.btn--accent:hover {
  background: #802b15;
}
.btn--outline{
  background: var(--headings-color);
  color: white;
  border: 2px solid var(--headings-color);
}
.btn--outline:hover{
  background: #fff;
  color: var(--headings-color);
}
.btn--block {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .btn{
    font-size: 1.5rem;
  }
}
/* inputs */
.inp{
  padding: 1.5rem 3.5rem;
  border-radius: 40px;
  white-space: nowrap;
  outline: 0;
  border: 1px solid var(--border-color);
  color: var(--headings-color);

}
::placeholder{
  color: var(--headings-color);
}
@media screen and (min-width:800px) {
  .inp{
    font-size: 1.5rem;
  }
}
/* input groupimg with button */
.container{
  border: 1px solid var(--border-color);
  border-radius: 40px;
 display: flex;
}
.container .inp{
  border: 0;
   flex-grow: 1;
   margin-left: 5px;
}
.container .btn{
  margin: 3px 2px;
}
/* card */
.card{
  font-size: 2rem;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 20px 10px #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
}
.card__header, .body{
  padding: 2rem;
}
.card--primary .card__header{
  background: var(--secondary-color);
  color: white;
}
