html {
  font-size: 62.5%;
}
body {
  font-family: inter, arial, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  margin-top: 10px;
}

/* colors */
:root {
  --primary-color: #2548ff;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --headings-color: #1b0760;
  --body-color: #918ca4;
}
h1,
h2,
h3 {
  color: var(--headings-color);
  margin-bottom: 1.5rem;
}

p {
  margin-top: 0;
  line-height: 3rem;
  color: var(--body-color);

  /* typography */
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

@media screen and (min-width: 800px) {
  /* body {
    font-size: 1.8rem;
  } */
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* links */
.link-arrow {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 800px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* badges */
.badges {
  border: 0;
  border-radius: 20px;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
.badges--primary {
  background: var(--primary-color);
  color: white;
}
.badges--secondary {
  background: var(--secondary-color);
}
.badges--small {
  font-size: 1.2rem;
}
@media screen and (min-width: 800px) {
  .badges {
    font-size: 1.5rem;
  }
  .badges--small {
    font-size: 1.2rem;
  }
}
/* lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--headings-color);
}
.list--inline .list__items {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(../icons/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__items {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 800px) {
  .list--tick .list__items {
    padding-left: 0rem;
  }
}
