<div class="callout callout--primary">
    <div class="grid grid--3colmn">
      <div class="callout__content">
        <h3 class="callout__heading">RREADY TO GET STARTED</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
          omnis officiis, modi illo sequi quod quaerat asperiores quo minus
          suscipit?
        </p>
      </div>
      <!-- <a href="#" class="btn btn--secondary">Get Started</a> -->
      <a href="#" class="btn btn--secondary btn--streched ">Get Started</a>
    </div>
  </div>