<div class="quote">
    <p class="quote__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo aliquid
      adipisci deserunt voluptate, assumenda odit earum. Incidunt veniam
      corrupti dolor dolores commodi ratione cum officia quia in magnam!
      Earum, ab!
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg
            class="icon icon--primary"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 2"
            id="line"
          >
            <path fill="#63c3ef" d="M0 0h50v2H0z"></path>
          </svg>
        </div>

        <div class="media__body">
          <h3 class="media__headline  quote__author">John Ether</h3>
          <p class="media__company">
           ABC Company
          </p>
        </div>
      </div>
    </footer>
  </div>