<section class="block testimonial--block">
    <header class="block__header">
      <h2 class="block__heading">What Our Customers Are Saying</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, officiis!</p>
    </header>

  </section>
  <div class="block__container">
    <div class="card testimonial">
      <div class="grid grid--2colmn">
        <div class="testimonial__cont">
          <img class="" src="images/testimonial.jpg" alt="" />
            <span class="icon-container">
              <svg
                class="icon icon--primary"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 508.044 508.044"
                id="quotes"
    
              >
                <path
                  d="M.108 352.536c0 66.794 54.144 120.938 120.937 120.938 66.794 0 120.938-54.144 120.938-120.938s-54.144-120.937-120.938-120.937c-13.727 0-26.867 2.393-39.168 6.61C109.093 82.118 230.814-18.543 117.979 64.303-7.138 156.17-.026 348.84.114 352.371c0 .055-.006.104-.006.165zm266.061 0c0 66.794 54.144 120.938 120.938 120.938s120.938-54.144 120.938-120.938S453.9 231.599 387.106 231.599c-13.728 0-26.867 2.393-39.168 6.61C375.154 82.118 496.875-18.543 384.04 64.303 258.923 156.17 266.034 348.84 266.175 352.371c0 .055-.006.104-.006.165z"
                ></path>
    
              </svg>
    
            </span>
    
         </div>
    
  
    
    
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo
          aliquid adipisci deserunt voluptate, assumenda odit earum. Incidunt
          veniam corrupti dolor dolores commodi ratione cum officia quia in
          magnam! Earum, ab!
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg
                class="icon icon--primary"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 50 2"
                id="line"
              >
                <path fill="#63c3ef" d="M0 0h50v2H0z"></path>
              </svg>
            </div>

            <div class="media__body">
              <h3 class="media__headline quote__author">John Ether</h3>
              <p class="media__company">ABC Company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    
  </div>
  </div>
  </div>